
<body style="background-color: rgb(226, 227, 227);">

  <main>
     <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submitad-wrap">
        <div class="container submitad-main-outer">
        <h4 class="form-ttl">Ad Details</h4>
          <form role="form">
           <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 submitad-main">
  
              <div class="input-group custom-field-wrap">
                <label>Ad Title<b class="asterisk">*</b></label>
                <input type="text" class="form-control" formControlName="title" [ngClass]="{'is-invalid':productsubmitted && rf.title.errors}" >
              </div><!-- /custom-field-wrap-->

              
              <label>Category</label>
                
              <select class="w-100 form-control mt-lg-1 mt-md-2">
                
                <option>None</option>
                    <option value="1">Automobiles</option> 
                    <option value="2">Furniture</option> 
                     <option value="4">Electronic</option>
                     <option value="4">House</option>
                     <option value="4">Others</option>
            </select>
            <br>
  
        
  
  
           
              <div class="input-group custom-field-wrap">
                <label>Ad Description</label>
                <input type="text" class="form-control" formControlName="description" [ngClass]="{'is-invalid':productsubmitted && rf.description.errors}">
              </div><!-- /custom-field-wrap-->
              
  
              <div class="input-group custom-field-wrap">
                <label>Price<b class="asterisk">*</b></label>
                <input type="text" class="form-control" value="" placeholder="">
              </div><!-- /custom-field-wrap-->
  
              
              <div class="input-group custom-field-wrap">
                <label>Upload Photos</label>
                <div class="custom-file-input-wrap">
                  <input class="custom-file-input" type="file" name="pic" accept="image/*">
                  <input class="custom-file-input" type="file" name="pic" accept="image/*">
                  <input class="custom-file-input" type="file" name="pic" accept="image/*">
                  <input class="custom-file-input" type="file" name="pic" accept="image/*">
                  <input class="custom-file-input" type="file" name="pic" accept="image/*">
                  <input class="custom-file-input" type="file" name="pic" accept="image/*">
                  <input class="custom-file-input" type="file" name="pic" accept="image/*">
                  <input class="custom-file-input" type="file" name="pic" accept="image/*">
                </div>
              </div><!-- /custom-field-wrap-->
           </div><!-- /submitad-main-->
           <br>
          
          
        </form>
        <h4 class="form-ttl">Contact Details</h4>
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact-dtl-wrap">
          <form role="form">
           <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 contact-dtl-main">
  
              <div class="input-group contact-field-wrap">
                <label>Name<b class="asterisk">*</b></label>
                <input type="text" class="form-control" value="" placeholder="">
              </div><!-- /custom-field-wrap-->
  
              <div class="input-group contact-field-wrap">
                <label>Email<b class="asterisk">*</b></label>
                <input type="text" class="form-control" value="" placeholder="">
              </div><!-- /custom-field-wrap-->
  
              <div class="input-group contact-field-wrap">
                <label>Phone<b class="asterisk">*</b></label>
                <input type="text" class="form-control" value="" placeholder="">
              </div><!-- /custom-field-wrap-->

              <div class="input-group contact-field-wrap">
                <label>Country<b class="asterisk">*</b></label>
                <input type="text" class="form-control" value="" placeholder="">
              </div><!-- /custom-field-wrap-->
  

              <div class="input-group contact-field-wrap">
                <label>State<b class="asterisk">*</b></label>
                <input type="text" class="form-control" value="" placeholder="">
              </div><!-- /custom-field-wrap-->
  
              
  
              <div class="input-group contact-field-wrap">
                <label>City<b class="asterisk">*</b></label>
                <input type="text" class="form-control" value="" placeholder="">
              </div><!-- /custom-field-wrap-->
  
  
              <div class="input-group contact-field-wrap">
                <label>Postal Code<b class="asterisk">*</b></label>
                <input type="text" class="form-control" value="" placeholder="">
              </div><!-- /custom-field-wrap-->
  
              <div class="input-group contact-field-wrap">
                <label>Address</label>
                <input type="text" class="form-control" value="" placeholder="">
              </div><!-- /custom-field-wrap-->

              

              <label>Time</label>
              <select class="w-100 form-control mt-lg-1 mt-md-2">
                
                <option>None</option>
                    <option value="1">Days</option> 
                    <option value="2">Weeks</option> 
                     <option value="4">Months</option>

                     
                     
            </select>
            <br>
            <div class="input-group contact-field-wrap">
                <label>Duration</label>
                <input type="text" class="form-control" value="" placeholder="">
              </div><!-- /custom-field-wrap-->
            <br>
  
              <div class="submit-ad-button-box">
                <button class="btn-submit-ad" href="#">Submit</button>
                
              </div>
             </div><!-- /contact-dtl-main-->
  
            <div class="col-md-3 col-sm-3 contact-dtl-right">
              <div class="contact-dtl-user-img">
              </div><!-- /contact-dtl-user-img-->
            </div><!-- /contact-dtl-right-->
          </form>
       </section>
  
  
       